{% assign allKlairs = section.settings.collectionPicked.products %}

<section class="best-selller-section">
    <div class="container">
        <div class="section-title flex align-end justify-between">
            <h2>{{ section.settings.collectionPicked.title }}</h2>
            <a href="#" class="link-btn align-center">
                Show All
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="12" viewBox="0 0 32 12" fill="none">
                    <path d="M32 6L24 0L26 5H0V7H26L24 12L32 6Z" fill="#121212" />
                </svg>
            </a>
        </div>

        {% comment %}
                      {% for product in allKlairs %}
                          <li>{{ product.title }}</li>
                      {% endfor %}
                      
          for loop for belove products
{% endcomment %} 
  {% for product in allKlairs %}
        <div class="best-seller-slider product-row">
            <div class="product-widget best-seller-itm">
                <div class="product-widget-inner">
                    <div class="product-widget-top">
                        <div class="produt-top-media">
                            <a href="product.url" class="product-media">
                                <img src="{{ product.featured_image }}">
                            </a>
                            <a href="#" class="pro-cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.53516 0H0.899313L0.0133624 13.6954C-0.0402619 14.5027 0.0684404 15.3127 0.332718 16.0751C0.596995 16.8375 1.0112 17.536 1.54962 18.1273C2.08804 18.7185 2.73916 19.1898 3.46256 19.512C4.18596 19.8341 4.96618 20.0003 5.75478 20H14.2461C15.0336 20.0001 15.8128 19.8344 16.5354 19.5129C17.258 19.1915 17.9085 18.7212 18.4468 18.1313C18.985 17.5413 19.3995 16.8443 19.6645 16.0833C19.9296 15.3223 20.0395 14.5136 19.9875 13.7072L19.09 0H4.53516ZM4.53516 1.18064H1.98086L1.16395 13.778C1.12139 14.4235 1.20853 15.0711 1.41996 15.6805C1.63139 16.29 1.96261 16.8484 2.39306 17.3211C2.82351 17.7938 3.34402 18.1707 3.9223 18.4284C4.50058 18.6862 5.1243 18.8192 5.75478 18.8194H14.2461C14.8775 18.8208 15.5025 18.689 16.0822 18.432C16.6618 18.1749 17.1837 17.7983 17.6154 17.3254C18.0471 16.8526 18.3793 16.2936 18.5914 15.6833C18.8036 15.073 18.891 14.4245 18.8484 13.778L18.02 1.18064H15.4657V1.92444C15.4657 2.6609 15.3243 3.39014 15.0497 4.07054C14.775 4.75094 14.3725 5.36916 13.865 5.88991C13.3575 6.41067 12.755 6.82375 12.0919 7.10558C11.4288 7.38741 10.7181 7.53247 10.0004 7.53247C9.28272 7.53247 8.57204 7.38741 7.90896 7.10558C7.24588 6.82375 6.6434 6.41067 6.1359 5.88991C5.6284 5.36916 5.22583 4.75094 4.95118 4.07054C4.67652 3.39014 4.53516 2.6609 4.53516 1.92444V1.18064ZM14.3151 1.18064H5.68574V1.92444C5.68574 3.09866 6.14032 4.22478 6.94948 5.05508C7.75865 5.88537 8.8561 6.35183 10.0004 6.35183C11.1448 6.35183 12.2422 5.88537 13.0514 5.05508C13.8605 4.22478 14.3151 3.09866 14.3151 1.92444V1.18064Z"
                                        fill="#121212" />
                                </svg>
                            </a>
                            <a href="#" class="pro-like">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path
                                        d="M18.3644 2.50476C17.33 1.40021 15.8804 0.771733 14.3617 0.769403C12.8417 0.77115 11.3906 1.39929 10.3546 2.50405L10.0015 2.8747L9.64836 2.50405C7.59251 0.306056 4.13215 0.179829 1.91953 2.22206C1.82148 2.31259 1.72679 2.40661 1.63565 2.50405C-0.545218 4.84079 -0.545218 8.45212 1.63565 10.7889L9.48255 19.0091C9.75403 19.2938 10.2064 19.306 10.493 19.0363C10.5024 19.0275 10.5115 19.0184 10.5204 19.0091L18.3645 10.7889C20.5452 8.45237 20.5452 4.84125 18.3644 2.50476ZM17.3302 9.81112H17.3295L10.0015 17.4888L2.67282 9.81112C1.00676 8.02564 1.00676 5.26657 2.67282 3.48108C4.1858 1.85211 6.74172 1.74997 8.38156 3.25293C8.46118 3.3259 8.53778 3.40199 8.61124 3.48108L9.48255 4.39421C9.76969 4.67762 10.2333 4.67762 10.5204 4.39421L11.3917 3.48179C12.9047 1.85282 15.4606 1.75068 17.1005 3.25363C17.1801 3.32661 17.2567 3.4027 17.3302 3.48179C19.0107 5.27011 19.023 8.03421 17.3302 9.81112Z"
                                        fill="#121212" />
                                </svg>
                            </a>
                            <div class="pro-lbl"> -20% </div>
                            <div class="pro-colors flex align-center justify-end">
                                <div class="pro-color" style="background: #B41204;"></div>
                                <div class="pro-color" style="background: #DD3834;"></div>
                                <div class="pro-color" style="background: #700B2F;"></div>
                                <div class="pro-color" style="background:  #E91A65;"></div>
                                <div class="pro-color" style="background:  #B51948;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="product-widget-bottom">
                        <div class="pro-widget-bottom-upper">
                            <div class="pro-title flex align-center justify-between">
                                <h4><a href="#">{{ product.collections[0].title }}</a></h4>
                                <div class="review-block flex align-center">
                                    <img src="./images/faour-star.png">
                                    <div class="review-text">(02)</div>
                                </div>
                            </div>
                            <p>{{ product.title }}</p>
                        </div>
                        <div class="pro-widget-bottom-lower">
                            <div class="price flex align-center">
                                <ins>NOK 449.00</ins>
                                <del>{{ product.price |  money_with_currency }}</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}                         
    {% comment %}
      
    {% endcomment %}
</section>

{% schema %}
  {
    "name": "Best Seller Section",
    "settings": [
      {
        "type": "collection",
        "id": "collectionPicked",
        "label": "Pick Collection"
      }
    ],
    "presets": [
      {
        "name":"Best Seller Klairs Sec"
      }
    ]
  }
{% endschema %}



{%  for block in section.blocks  %}  

{% endfor %}